body
{
  margin: 0;
  padding: 0;

  background: #232323;
  color: #cdcdcd;
  font-family: 'Arvo', serif;
}

#logo h1
{
  text-align: center;
}


#kanan{
  padding-left: 40px;
}

#kanan input{
  border: none;
  border-color: none;
}